.headerImg {
    display: flex;
    max-width: 117vh;
    justify-content: space-between;
    max-height: 30vh;
    position: absolute;
    z-index: -1;
    transform: translateY(-11rem);
}
.headerImg img{
    max-width:100%;
}
.title{
    transition:all .5s ease-in-out;
    transform: translateY(20px);
    display: inline-block
}
.move{
    transform: translateY(0px);
}
body{
    background-image: url('./Media/bg.png') ;
    background-size: cover;
    background-position: center;
    padding:0rem;
    max-width: 100vmax;
    padding-top: 10rem;
} 
nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aliceblue;
}
nav a{
    padding: 1rem;
    text-decoration: none;
    color:black;
    font-size:1.2rem;
    font-weight: bold;
}
nav a:hover{
    color:#69B4D4;
}
.mainGroup{
    display: flex;
    justify-content: center;
}
main {
    display: flex;
    flex-direction: column;
    background-color: hsl(213.1,55.4%,62.2%,80%);
    padding:6rem;
    padding-top: 0rem;
    border-radius: 15%;
}
main h1{
    color:white;
    text-align: center;
}
.videos{
    display: flex;
    padding: 1rem;
    justify-content: center;
}   
.smallVideos {
    display: flex;
}
